<footer style="display: flex; justify-content: center; align-items: center;">


  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
      <%= message %>
    </div>
  <% end %>
</footer>
