

<H1>
  <%= @event.name %>
</H1>
<p>
  <%= @event.start_date.strftime("%A, %d %B %Y") %>
</p>
<p>
  <%= @event.start_time.strftime("%H:%M") %>
</p>

<strong>Jauge:</strong>
<div data-controller="hide-button">
  <span data-hide-button-target="max_gauge"><%= @event.max_gauge %></span>
  <div id="audiencecount" data-hide-button-target="audience_count">0
  </div>

  <div class="button-container">
    <button class="icon-button"
    data-action="click->hide-button#increment"
     data-hide-button-target="increment">
      <i class="fas fa-plus"></i>
    </button>
    <button class="icon-button d"
      data-action="click->hide-button#decrement"
      data-hide-button-target="decrement">
      <i class="fas fa-minus"></i>
    </button>
  </div>
</div>
