@media only screen and (max-width: 600px) {
  .organization-card {
    font-family: inherit;
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5%;
     margin: 5px;
  }

  .organization-card:hover {
    background: rgba(255, 255, 255, 0.4);
    color: #8b0c0c;
    border: 1px solid #8b0c0c;
    cursor: pointer;
  }
}
