footer {
  position: fixed;
  bottom: 0;
  width: 90%;
  height: 10vh;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 9999
}
