.form {
  margin-top: 60px; /* Ajustez cette valeur en fonction de la hauteur de votre navbar */
  position: fixed;
  top: 10%;
  display: flex;
  padding: 16px;

  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Baton', sans-serif;
  /* Ajustez cette valeur en fonction de vos besoins */
}

field:hover {
  opacity: 1;
  color: #8b0c0c;
  font-weight: bold;
}

label {
  display: block;
  text-align: left;
  margin-bottom: 8px;


}

input, select, textarea, .collection-field {
  opacity: 0.5;
  width: 80%;
  margin-bottom: 16px;
  padding: 16px;
}
