
@media only screen and (max-width: 600px) {
  .navbar {
    position: fixed;
    top: 0;
    width: 90%;
    height: 10vh;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 9999
  }

  .navbar a {
    font-size: 16px;
    font-weight: bold;
  }

  .navbar a:hover {
    color: #8b0c0c;
  }

  .navbar-image {
    width: 70px;
    height: auto;
  }

  p:hover {
    color: #8b0c0c;
  }

  .button-text {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
  .button-text:hover {
    color: #8b0c0c;
    font-weight: bold;
  }
}
