<H2>Mes organisations</H2>
<div class="organizations_container">
  <% @organizations.each do |organization| %>
    <%= button_to organization.name,
    organization_path(organization),
    method: :get,
    class: "organization-card" %>
  <% end %>
  <%= link_to new_organization_path, class: "organization-card" do %>
    <i class="fas fa-plus"></i>
  <% end %>
</div>
