<h1>Mes organisations</h1>


<div class="organizations_container">
  <% @organizations.each do |organization| %>
    <%= button_to organization.name,
    organization_path(organization),
    method: :get,
    class: "organization-card" %>
  <% end %>
  <div class="organization-card">
      <%= link_to new_organization_path do %>
      <i class="fas fa-plus"></i>
      <% end %>
  </div>
</div>
