

  <%= link_to @organization.name, edit_organization_path(@organization) %>
  <ul>
    <% @organization.events.each do |event| %>
        <li><%= link_to "#{event.name} #{event.start_date}", organization_event_path(current_user.organizations, event) %></li>
    <% end %>
    <li><%= link_to 'Créer un nouvel événement', new_organization_event_path(current_user.organizations) %></li>
  </ul>

<%= link_to 'Back', organizations_path %>
